.section {
    &__contact {
        background-color: $color__primary;

        .section-title {
            color: $color__white;

            &:after {
                border-bottom-color: $color__white;
            }
        }

        .contact-form {
            fieldset {}

            label,
            input,
            text-area,
            #g-recaptcha {}

            label {
                color: $color__white;
            }

            .error {
                color: $color__white;
            }

            button[type="submit"] {
                border: 2px solid $color__white;
                color: $color__white;

                &:hover {
                    background-color: rgba( $color__white, .2 );
                }
            }            
        }



    }

}