.section {
    &__expertise {
        ul {
            @include no-bullets;
            margin-top: 0;

            li {
                margin-bottom: 0;

                h4 {
                    margin-top: $size__spacing-4;
                }
            }

            ul {
                margin-bottom: $size__spacing-4;

                &:last-of-type {
                    margin-bottom: 0;
                }

                li {
                    border-bottom: 1px solid rgba( $color__primary, 0.3 );
                }
            }
        }
    }

    @include breakpoint(tablet) {
        &__expertise {
            ul {
    
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                column-gap: 4rem;
    
                li {
                    -webkit-column-break-inside: avoid;
                    page-break-inside: avoid;
                        break-inside: avoid;

                    &:first-of-type {
                        h4 {
                            margin-top: 0;
                        }
                    }
                }
    
                ul {
                    columns: unset;
                    -webkit-columns: unset;
                    -moz-columns: unset;

                    li {
                        margin-bottom: .25rem;
                        padding-bottom: .25rem;
                    }
                }
            }
        }
    }
}