.section {
    &__experience {
        background-color: $color__background-screen;

        strong,
        b {
            color: $color__primary;
        }

        article {
            display: flex;
            flex-direction: column;
        }

        article + article {
            margin-top: $size__spacing-6;
        }

        .section-title {
            margin-top: 0;
        }
      
        h4 {
            line-height: $font__line-height-tight;

            svg {
                height: 20px;
                width: 20px;
                margin-right: .25rem;
            }
        }

        .job-title {
            margin-top: $size__spacing-4;
            font-size: $font__size-normal;
        }

        .clients-list,
        .job-description {
            ul {
                @include no-bullets;
                margin-top: 0;
            }

            li {
                margin-bottom: 0;

                &:after {
                    content: ',';
                    margin-right: .25rem;
                }

                &:last-of-type {
                    &:after {
                        content: none;
                    }
                }
            }
        }

        .clients-list {
            margin-top: $size__spacing-2;
            
            &__heading {
                font-size: $font__size-normal;
                font-weight: $font__weight-bold;
            }

            @media screen {
                @include truncate-text( 2, $font__line-height-normal );
            }
        }

        .job-description {
            ul {
                @include no-bullets;
            }

            li {
                display: inline;
                &:after {
                    content: '\2219';
                    padding-left: $size__spacing-1;
                }
            }

        }

        .job-location,
        .job-dates {
            font-style: italic;
            font-size: $font__size-small;
        }

        .job-dates {
            time {
                padding-right: $size__spacing-1;
                padding-left: $size__spacing-1;

                &:first-of-type {
                    padding-left: 0;
                }
            }
        }

        @include breakpoint( tablet ) {
            .job-location,
            .job-dates {
                display: inline-flex;
            }

            .job-dates {
                &:before {
                    content: '\2219';
                    padding-left: $size__spacing-1;
                }

                time {
                    padding-right: $size__spacing-1;
                    padding-left: $size__spacing-1;

                    &:first-of-type {
                        padding-left: $size__spacing-1;
                    }
                }
            }
        }

        @include breakpoint( medium ) {

            article {
                flex-direction: row;
            }

            .entry-header {
                width: calc( 100% / 4  );
                padding-right: 1rem;
            }

            .entry-content {
                width: calc( ( 100% / 4 ) * 3 );
                padding-left: 1rem;
            }

            .job-title {
                margin-top: 0;
                font-size: $font__size-medium;
            }

            .job-location,
            .job-dates {
                display: block;
            }

            .job-dates {
                &:before {
                    content: none;
                    padding-left: initial;
                }
    
                time {
                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }
    
        }

    }
}