footer {
    padding: $size__spacing-6 0;

    &.global-footer {
        background-color: $color__black;
        color: $color__white;

        a {
            color: $color__white;
        }
    }

    .footer-wrapper {
        text-align: center;
    }
}
