input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {

    -webkit-backface-visibility: hidden;
	background: $color__background-input;
	background-image: none;
	border: 1px solid $color__border-input;
	box-sizing: border-box;
	outline: none;
	padding: .5rem .25rem;
	-webkit-appearance: none;
	outline-offset: 0;
	border-radius: 0;

    &:focus {}
}

fieldset {
    border: none;
}

select {}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
}

label {}

form {
    > * {

        &:last-child {
        }
    }
}

input[type='checkbox'],
input[type='radio'] {

    + label {
    }
}

fieldset {
    legend {
    }
}


.contact-form {

	fieldset {
		@include flex;
		flex-direction: row;
		max-height: 100%;
		margin-right: auto;
		margin-left: auto;
	}

	label,
	input,
	text-area,
	#g-recaptcha {
		width: 100%;
		max-width: 100%;
	}

	label {
		color: $color__primary;
		margin-top: $size__spacing-2;
	}

	.error {
		color: $color__error;
		font-size: $font__size-small;
	}

	button[type="submit"] {
		justify-self: center;
		padding: $size__spacing-2 $size__spacing-4;
		border: 2px solid $color__primary;
		background-color: transparent;
		color: $color__primary;
		text-transform: uppercase;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;

		&:hover {
			background-color: rgba( $color__primary, .2 );
		}
	}

	@include breakpoint( tablet ) {
		fieldset {
			max-width: 37.5rem;
		}

		button[type="submit"] {
			max-width: 12rem;
		}
	}

}