.menu {
    @include no-bullets;
    @include flex;

    li {
        margin-bottom: 0;
    }
}

.main-navigation {
    position: sticky;
    top: 0;
    transition: all 0.4s ease;
    background-color: $color__primary;
    padding-top: $size__spacing-4;
    padding-bottom: $size__spacing-4;

    ul {
        flex-direction: column;
        justify-content: space-between;

        max-width: $site__width_2x-large;
        margin: 0 auto;
        padding: 0 $size__spacing-3;
        text-transform: uppercase;
        
        li {
            text-align: center;
        }

        a {
            color: $color__white;
            padding: $size__spacing-2;
            display: block;
            align-self: center;
            line-height: 1;
            text-decoration: none;
            
            &:hover {
                background-color: rgba( $color__white, 0.1 );
            }

            span {
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid rgba( $color__white, 0.5 );
                }
            }
        }
    }

    @include breakpoint( mobile ) {
        ul {
            flex-direction: row;
            
            li {
                margin: 0 $size__spacing-2;
                width: calc( (100% / 2) - #{$size__spacing-4} );
            }
    
        }
    }

    @include breakpoint(tablet) {
        ul {
            li {
                width: calc( 100% / 4 - #{$size__spacing-4} );
            }
            a {
                padding: $size__spacing-4 $size__spacing-2;
            }
        }
    
    }

}

body[data-nav-stuck="true"] .main-navigation {
    box-shadow: 0px 5px 5px 0px rgba($color__black, .6);
    padding-top: 0;
    padding-bottom: 0;
    z-index: +1;
}

.social-menu {
    ul {
        justify-content: center;
        align-items: center;
    }
    a {
        display: block;
        padding: 0 .75rem;
        color: $color__gray;

    }

    svg {
        height: 32px;
        width: 32px;
        color: $color__gray;
    }

    .print {
        padding: 0 .75rem;
        cursor: pointer;
    }

    span {
        @include visually-hidden;
    }
}

.global-header {

    .menu {
        transition: all 0.4s ease;
        flex-direction: column;

        li {
            margin-bottom: .75rem;
        }

        a {
            color: $color__white;
        }

        svg {
            transition: height 0.4s ease;
            height: 20px;
            width: 20px;
            fill: $color__white;
            color: $color__white;
        }
    }

    @include breakpoint( large ) {
        .menu {
            svg {
                height: 24px;
                width: 24px;
            }
        }
    }
}

