*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: $font__line-height-normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  font-size: $font__size-base;

  @include breakpoint(medium) {
    font-size: $font__size-base;
  }
}

body {
  font-family: $font__main;
  color: $color__text-main;
  min-height: 100vh;
}

@media screen {
  .print-only {
    display: none !important;
  }
}