.main-heading,
.main-content .section .section-title,
.main-content .section .section-content,
.main-content .post-navigation,
.footer-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $size__spacing-6;
    padding-left: $size__spacing-6;
}

.main-heading,
.main-content .post-navigation,
.footer-wrapper {
    max-width: $site__width_x-large;
}

.main-content .section {
  scroll-snap-margin-top:  calc( 96px + 1rem );
  scroll-margin-top: calc( 96px + 1rem );

  padding-top: $size__spacing-6;
  padding-bottom: $size__spacing-6;

  @include breakpoint(tablet) {
    scroll-snap-margin-top: calc( 48px + 1rem );
    scroll-margin-top: calc( 48px + 1rem );

    padding-top: $size__spacing-12;
    padding-bottom: $size__spacing-12;
  }
}

.main-content .section .section-title,
.main-content .section .section-content {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint(mobile) {
      max-width: $size__width-content;
    }
}

.main-content .section .section-title {
  line-height: $font__line-height-tight;
}

.global-wrapper {
  margin: 0;
  max-width: $site__max-width;
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: $size__spacing-20;
}

footer {
    padding: $size__spacing-6 0;
}
