/**
 * Structure
 */
 $widths: (
    x-small: 20rem,
    small: 24rem,
    mobile: 355px,
    // mobile: 620px,
    tablet: 790px,
    medium: 54rem, // 864
    large: 57rem, // 912
    x-large: 66rem, //1056
    2x-large: 75rem, //1200
    3x-large: 82rem, //1312
    4x-large: 88rem,
    full: 100%,
);

$breakpoints: (
    x-small: 0,
    // mobile: 580px,
    mobile: 375px,
    tablet: 750px,
    small: 40rem, //640s
    medium: 52rem, //832
    large: 58rem, //928
    x-large: 64rem, //1056
    2x-large: 73rem, //1200
    3x-large: 80rem, //1312
    4x-large: 86rem,
);

$site__width_small: map-get( $widths, small );
$site__width_mobile: map-get( $widths, mobile );
$site__width_tablet: map-get( $widths, tablet );
$site__width_medium: map-get( $widths, medium );
$site__width_large: map-get( $widths, large );
$site__width_x-large: map-get( $widths, x-large );
$site__width_2x-large: map-get( $widths, 2x-large );
$site__width_3x-large: map-get( $widths, 3x-large );
$site__width_4x-large: map-get( $widths, 4x-large );
$site__width_full: map-get( $widths, full );

$size__site-main: 100%;
$size__site-sidebar: 22rem;
$size__site-sidebar-sm: 4rem;
$size__width-content: $site__width_x-large;
$site__max-width: $site__width_full;

$padding-site: 95px;
$padding-site-mobile: 25px;

$site__margins-min: 4.4rem;
$site__margins-max: 6rem;